# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# Test / coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
test-results.xml
junit-*.xml

# Logs
*.log

# Environment files
.env
*.env

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
